*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0A2647;
}

.user-search{
  width: 450px;
  height: 50px;
  color: white;
  background-color: #144272;
  border-radius: 10px;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card{
  color: white;
  background-color: #144272;
  height: 400px;
  width: 450px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}